:root {
  --main-color: #1f2937;
  --secondary-color: #f9faf8;
  --tertiary-color: #e5e7eb;
  --highlight-color: #3882f6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

p {
  font-size: 1.2rem;
  color: lightgray;
}

.header {
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  padding: 20px 150px;
  justify-content: space-between;
}

.header a {
  color: var(--tertiary-color);
  text-decoration: none;
}

.header h2 {
  color: var(--secondary-color);
  font-size: 1.5rem;
}

.headLinks {
  display: flex;
  gap: 30px;
}

.hero {
  display: flex;
  background-color: var(--main-color);
  padding: 100px 150px 130px 150px;
  gap: 80px;
  align-items: center;
  justify-content: space-between;
}

.heroRight img {
  width: 400px;
}

.heroLeft {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}

.heroLeft h1 {
  color: var(--secondary-color);
  font-size: 2.5rem;
  line-height: 3rem;
}

.heroBtn {
  background-color: var(--highlight-color);
  border: none;
  color: var(--secondary-color);
  padding: 10px 40px;
  font-weight: bold;
  font-size: 1em;
  border-radius: 10px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 250px 100px 250px;
  gap: 50px;
}

.info p {
  color: gray;
}

.info h2 {
  font-size: 2em;
}

.boxes {
  display: flex;
  gap: 60px;
}

.boxContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.boxContent img {
  width: 150px;
  border-radius: 10px;
  border: var(--main-color) solid 5px;
}

.quote {
  display: flex;
  flex-direction: column;
  padding: 120px 250px;
  background-color: var(--tertiary-color);
  gap: 20px;
}

.quote h1 {
  font-weight: lighter;
  font-style: italic;
  font-size: 2.2em;
}

.quote h2 {
  align-self: end;
}

.cta {
  background-color: var(--highlight-color);
  margin: 100px 150px;
  border-radius: 10px;
  padding: 50px 130px;
  color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ctaBtn {
  background-color: var(--highlight-color);
  border: white solid 2px;
  color: var(--secondary-color);
  padding: 10px 40px;
  font-weight: bold;
  font-size: 1em;
  border-radius: 10px;
}
